*{
    padding: 0px;
    margin: 0px;
}
/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

:root{
    /*color variable*/
    --primary: #000000;
    --secondary:#562EFF; 
    --text: #ED6B4F;
    --acent:#A2A2A2;
    --minimum:#FF4A60; 
}
body{
    font-family: 'Poppins', sans-serif;
    background: #E5E5E5;
}
.container{
    padding:0 10%;
}
/*header section*/
#header {
    background: #562EFF;
    height: 94px;
    margin-bottom: 36px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    Width: 40.42px;
    Height: 51px;
    padding: 26px 0px 17px 0px;
}
.logo h3 {
    padding: 33px 0px 25px 14.58px;
    color: white;
    font-size: 24px;
}
.header-inner {
    display: flex;
    justify-content: space-between;
}
.menu_inner ul {
    display: flex;
    align-items: center;
    padding: 18px;
}
.menu_inner ul li {
    list-style: none;
    padding: 0 16px;
}
.menu_inner ul li a {
    text-decoration: none;
    color: white;
}
/*main section*/
.content_inner {
    background: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 20px;
}
h1 {
    padding: 33px 0 0 33px;
    color: var(--secondary);
    font-size: 24px;
}
.profile-pic img {
    width: 56px;
    height: 56px;
}
.Top_player {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 29px;
    margin: 40px 27px 28px 30px;
}
.player-list {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.player-name {
    padding-left: 16px;
}
hr {
    margin: 0px 100px 0 40px;
    border: 1px solid #D1D1D1;
}
/*Blog-inner*/
.blog_list img {
    width: 177px;
    height: 117px;
}
.blog-name {
    display: flex;
    align-items:center;
}
.top_blog {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 28px;
    grid-row-gap: 30px;
}
.blog_inner {
    padding-left: 16px;
    margin-bottom: 24px;
    line-height: 31px;
}
.blog_inner h4 {
    font-size: 20px;
}
.blog_inner h5 {
    font-size: 16px;
    color: var(--secondary);
}
span {
    color: var(--acent);
}
/*last section*/
.last_content{
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 32px;
    padding-bottom: 20px;
}
.course_content img {
    width: 224px;
    height: 104px;
}
.latest.course {
    display: flex;
    justify-content: space-between;
    margin: 21px 36px 26px 41px;
}
.inner-course {
    line-height: 22px;
    font-size: 16px;
}
.inner-course h5 {
    font-size: 12px;
    color: var(--text);
}
.images img {
    width: 12px;
    padding: 3px;
}
.images {
    display: flex;
}
h4.point {
    padding: 0px  21px 0px 20px;
    color: var(--acent);
}
.images h5 {
    color: orangered;
    background: pink;
    border-radius: 4px;
    padding: 2px;
}
.section_inner {
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 3px 3px 15px;
    border-radius: 30px;
    border: none;}